/.SMallUMLRuntimeModule.java._trace
/.SMallUMLStandaloneSetup.java._trace
/.SMallUMLRuntimeModule.xtendbin
/.SMallUMLStandaloneSetup.xtendbin
/SMallUMLRuntimeModule.java
/SMallUMLStandaloneSetup.java
